page-userlist {

      
    .header {
        .toolbar-background {
    border-color: transparent;
    background: transparent;
        }
        .back-button{
            color: #fff;
        }
       
        .toolbar-title{
            color: #fff;
        }
    }
      $userBackgroundColor: #387ef5;
      $toUserBackgroundColor: #fff;
      $text-color:#000;
    
     .list{
         .item{
          background-color:transparent;
          color: #fff;
          padding-left: 0;
          p{
            color:#6bcaff  
          }
          .note {
              font-size: 12px;
          }
         }
        
     }
    
    
    
    
    
      .input-wrap {
        padding: 0 5px;
        ion-textarea {
          position: static;
    
        }
        ion-col.col {
          padding: 0;
        }
        button {
          width: 100%;
          height: 55px;
          font-size: 1.3em;
          margin: 0;
          color:#fff;
        }
        textarea {
          border-bottom: 1px #fff;
          border-style: solid;
          
            color:#fff;
            &::placeholder{
              color:#fff;
            }
          
        }
      }
    
   
   
     
    
    }
    
  